<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="canil.css">
</head>

<body>
    <div class="container">
        <div class="historico">
            

            <div class="pai">

                <div class="filho-1">

                    <h3>Breve histórico</h3>


                    <p><img src="download.png" alt="">O Rottweiler é uma das raças mais antigas que existem. Sua origem
                        é
                        conhecida desde o império Romano (27a.c. a 475 d.c.) onde foi criado como cão de guarda e
                        boiadeiro.</p>
                    <p ><img src="download.png" alt="">Esses cães migraram com as legiões romanas através
                        dos Alpes,
                        servindo de guarda e tocando rebanhos. Nos arredores de Rottweil, no Sudoeste da Alemanha, esses
                        cães sofreram alguma miscigenação com os cães da região. Seu nome descende dessa cidade onde
                        houve
                        uma grande concentração desses animais – Rottweil+<strong>er</strong>. Seu nome completo é
                        Rottweiler Metz-gerhund – cão de açougueiro de Rottweil. Esse nome foi dado pois na época, um
                        grande número de açougueiros criaram essa raça para lidar com grandes rebanhos, tração de
                        pequenas
                        carroças e proteção de seu dono ou por pura exibição.</p>

                </div>
                <img class="filho-2" src="conda.jpeg" alt="">
            </div>
        </div>
    </div>

    <div class="container-2">

        <div class="caracteristicas">

            <div class="pai-2">
                <img class="filho-2" src="cacau-linda.jpeg" alt="">
                <div class="son">
                    <h3>Temperamento e características</h3>

                    <p><img src="download.png" alt="">O Rottweiler foi se firmando no decorrer dos anos como um dos melhores cães para guarda, sendo seu nome sinônimo de temor por bandidos e desconhecidos. É um cão que deve ser socializado desde filhote, desenvolvendo um temperamento dócil e protetor.</p>

                    <p><img src="download.png" alt="">O Rottweiler late pouco, porem ao menor sinal de ameaça aos seus donos ou ao seu território, saberá por instinto protege-los.</p>

                    <p><img src="download.png" alt="">O macho pesa mais que 50 quilos e a fêmea cerca 42, embora possamos ter variações dependendo da linhagem e procedência.</p>

                    <p><img src="download.png" alt="">Na Alemanha além dos laudos genéticos e ortopédicos, é necessária uma avaliação de comportamento e destreza dos cães, permitindo apenas a reprodução de cães que passem por estes testes.</p>
                </div>
                
            </div>

        </div>

    </div>

</body>

</html>