<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diferencial</title>
    <link rel="stylesheet" href="diferencial.css">
</head>
<body>
    <div class="container">

        <div class="pai">

            <div class="imagem">
                <img src="nosso-diferencial2.png" alt="">
            </div>

            <div class="filho">

                <h3>Saúde, Higiêne e estado de espirito do cão</h3>
                
                <p>O Canil PureBreed Von Snell trabalha focado no aprimoramento genético da Raça Rottweiler.</p>

                <p>Desenvolvemos um severo controle de vacinas, vermifugação e genético visando garantir a saúde dos cães .</p>

                <p>Entre em contato conosco e venha conhecer o seu próximo Pet. (19) 98880-7707(11) 97109-0080 (WhatsApp)</p>
            </div>

        </div>
        
        <div class="pai-2">

            <h3>Assistência veterinária<p>O Canil Purebreed Von Snell é atendido por veterinário que acompanha os filhotes desde o nascimento.</p></h3>

            <div class="filho-2">

                <button>Canil Pure Breed Von Snell</button>
                <p>O melhor do Padrão Alemão!
                    Nossos cães da raça Rottweiler são descendentes de cães nascidos na Alemanha ou dos melhores canis do Brasil!</p>

                <button>Vacinação e Vermifugação</button>    
                <p>Nossos cães são alimentados com rações super premium (pro-plan e Natural), são vacinados com vacinas 100% importadas e acondicionadas, são vermifugados periodicamente, o ambiente é diariamente esterelizado e fazemos o controle de pulgas e carrapatos constantemente, de forma a prezar por um filhote saudável e feliz.</p>

                <button>Controle de comportamento canino</button>
                <p>Os nossos cães vivem na maior parte do tempo soltos e interagindo com outros cães.
                    Os filhotes são devidamente socializados e com um altíssimo controle da sua saúde.</p>

                <button>Registro e Documentação</button>
                <p>Seu cão será devidamente registrado, microchipado e você receberá uma linda carteirinha de vacinação e peso para controle da saúde do seu filhote.</p>
                
            </div>

        </div>

    </div>
</body>
</html>