<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>petcare</title>
    <link rel="stylesheet" href="petcare.css">
</head>

<body>


    <div class="container">


        <div class="setas">
            <a href="/"><img id="seta1" src="images.png" alt=""> Meet Kyla, the Staffordshire Bull Terrier</a>

            <a id="link2" href="/">Meet Percy, the pug<img id="seta2" src="download.png" alt=""></a>
        </div>

        <div class="pai">

            <div class="filho">

                <div>
                    <img id="imgprincipal" src="adoption-1.png" alt="">
                </div>

                <div class="secundarias">

                    <img src="adoption-1.png" alt="">
                    <img src="adoption-1.png" alt="">
                    <img src="adoption-1.png" alt="">

                </div>



            </div>

            <div class="text">
                <h2>Buddy the terrier</h2>
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
                    praesent luptatum.</p>

                <ul>
                    <li>
                        <span class="border">1</span> <span class="green1"> Age</span> <span>4 years</span>
                    </li>
                    <li>
                        <span class="border">2</span> <span class="green2"> Size</span>  <span>Small</span>
                    </li>
                    <li>
                        <span class="border">3</span> <span class="green3"> Breed</span>  <span>West highland terriers</span>
                    </li>
                    <li>
                        <span class="border">4</span> <span class="green4"> Gender</span>  <span>Female</span>
                    </li>
                    <li>
                        <span class="border">5</span> <span class="green5"> Spayed</span>  <span>No</span>
                    </li>
                    <li>
                        <span class="border">6</span> <span class="green6"> Live with cats</span> <span> Yes</span>
                    </li>
                    <li>
                        <span class="border">7</span> <span class="green7"> Home tested</span>  <span>Yes</span>
                    </li>
                    <li>
                        <span class="border">8</span> <span class="green8"> Child friendly</span>  <span>Yes</span>
                    </li>
                    <li>
                        <span class="border">9</span> <span class="green9"> Reference</span>  <span>19475638</span>
                    </li>
                </ul>
            </div>




        </div>

    </div>


</body>

</html>