<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantel</title>
    <link rel="stylesheet" href="plantel.css">
</head>
<body>
    <div class="container">

        <div class="introduçao">

            <h3>Alguns Padreadores e Matrizes</h3>
            
            <p>Nossos cães da raça Rottweiler são descendentes de cães nascidos na Alemanha ou dos melhores canis do Brasil!</p>
        </div>

        <div class="dogs">

            <div class="colum1">
                <div class="dog1">

                    <img src="conda.jpeg" alt="">
        
                    <h6>Iron</h6>
        
                    <ul>
                        <li><strong>MATRIZ:</strong> Sim</li>
                        <li><strong>Pedigree:</strong>CBKC</li>
                        <li><strong>Raça:</strong>Rotweiler</li>
                    </ul>
        
                    <button>MORE INFO</button>
    
                </div>
        
                <div class="dog2">
    
                    <img src="conda.jpeg" alt="">
        
                    <h6>Iron</h6>
        
                    <ul>
                        <li><strong>MATRIZ:</strong> Sim</li>
                        <li><strong>Pedigree:</strong>CBKC</li>
                        <li><strong>Raça:</strong>Rotweiler</li>
                    </ul>
        
                    <button>MORE INFO</button>
    
                </div>
        
                <div class="dog3">
    
                    <img src="conda.jpeg" alt="">
        
                    <h6>Iron</h6>
        
                    <ul>
                        <li><strong>MATRIZ:</strong> Sim</li>
                        <li><strong>Pedigree:</strong>CBKC</li>
                        <li><strong>Raça:</strong>Rotweiler</li>
                    </ul>
        
                    <button>MORE INFO</button>
    
                </div>
        
                <div class="dog4">
                    
                    <img src="conda.jpeg" alt="">
        
                    <h6>Iron</h6>
        
                    <ul>
                        <li><strong>MATRIZ:</strong> Sim</li>
                        <li><strong>Pedigree:</strong>CBKC</li>
                        <li><strong>Raça:</strong>Rotweiler</li>
                    </ul>
        
                    <button>MORE INFO</button>
                </div>
            </div>
    
           
    
            <div class="colum2">
                <div class="dog5">
                
                    <img src="conda.jpeg" alt="">
        
                    <h6>Iron</h6>
        
                    <ul>
                        <li><strong>MATRIZ:</strong> Sim</li>
                        <li><strong>Pedigree:</strong>CBKC</li>
                        <li><strong>Raça:</strong>Rotweiler</li>
                    </ul>
        
                    <button>MORE INFO</button>
                </div>
        
                <div class="dog6">
                    
                    <img src="conda.jpeg" alt="">
        
                    <h6>Iron</h6>
        
                    <ul>
                        <li><strong>MATRIZ:</strong> Sim</li>
                        <li><strong>Pedigree:</strong>CBKC</li>
                        <li><strong>Raça:</strong>Rotweiler</li>
                    </ul>
        
                    <button>MORE INFO</button>
                </div>
        
                <div class="dog7">
                    
                    <img src="conda.jpeg" alt="">
        
                    <h6>Iron</h6>
        
                    <ul>
                        <li><strong>MATRIZ:</strong> Sim</li>
                        <li><strong>Pedigree:</strong>CBKC</li>
                        <li><strong>Raça:</strong>Rotweiler</li>
                    </ul>
        
                    <button>MORE INFO</button>
                </div>
        
                <div class="dog8">
                    
                    <img src="conda.jpeg" alt="">
        
                    <h6>Iron</h6>
        
                    <ul>
                        <li><strong>MATRIZ:</strong> Sim</li>
                        <li><strong>Pedigree:</strong>CBKC</li>
                        <li><strong>Raça:</strong>Rotweiler</li>
                    </ul>
        
                    <button>MORE INFO</button>
                </div>
            </div>
            
           <div class="colum3">
            <div class="dog9">
                
                <img src="conda.jpeg" alt="">
    
                <h6>Iron</h6>
    
                <ul>
                    <li><strong>MATRIZ:</strong> Sim</li>
                    <li><strong>Pedigree:</strong>CBKC</li>
                    <li><strong>Raça:</strong>Rotweiler</li>
                </ul>
    
                <button>MORE INFO</button>
            </div>
           </div>

            
        </div>

        

    </div>
</body>
</html>