<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="veterinario.css">
</head>

<body>
    <div class="container">

        <div class="pai">

            <div class="filho">



                <ul>
                    <li>
                        <h3>Paulo Ribeiro da Silva Junior</h3>
                    </li>
                    <li><img src="download.png" alt="">Paulo Ribeiro da Silva Junior é nosso médico Veterinário.</li>
                    <li><img src="download.png" alt="">Paulo se formou em 2020 na faculdade UniFAJ.</li>
                    <li><img src="download.png" alt="">Durante sua formação se especializou em reprodução canina,
                        participando de diversos cursos de especialização em reprodução.</li>
                    <li><img src="download.png" alt="">Paulo possui especialização em cursos em análise, interpretação e
                        avaliação da composição básica de alimentos industrializados para cães e gatos.</li>
                    <li><img src="download.png" alt="">Trabalhou 2 anos na Unidade de Vigilância de Zoonose de
                        Jaguariúna-SP. Trabalhou 2 anos em laboratório de morfologia.</li>
                    <li><img src="download.png" alt="">Em 2016 se habilitou como criador, buscando o aprimoramento
                        genético de cães, alimentação e saúde.</li>
                    <li><img src="download.png" alt="">Paulo atende nas seguintes áreas:</li>
                    <li>Clinico geral</li>
                    <li>Cirurgia</li>
                    <li>Fisioterapia</li>
                    <li>Acupuntura</li>
                    <li>Vacinação</li>
                    <li>Microchipagem</li>
                    <li>Entre outros.</li>
                </ul>

            </div>
            <div class="filho-2">
                <img src="veterinario_canil_rottweiler.jpg" alt="">
            </div>
        </div>

    </div>
</body>

</html>